/*
font-family: 'Courier Prime', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.logo {
  margin: 0 2rem;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

h2 {
  color: $tertiary-text;
  font-size: 2rem;
  padding: 2rem;
}

a {
  color: $primary-text;
  text-decoration: none;
}

p {
  line-height: 30px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-2-1 {
  grid-template-columns: 2fr 1fr;
}

.grid-c-2 {
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}



.grid-c-3 {
  grid-template-columns: repeat(3, 1fr);
}



.column {
  margin: auto 0;
}

.divider {
  content: "";
  text-align: center;
  height: 2px;
  // width: 90%;
  margin: 3.5rem;
  opacity: .3;
  background-color: $tertiary-text;
}

.btn {
  color: $primary-text;
  padding: 1rem;
  border: 1px solid;
  border-radius: 5px;
  border-color: $secondary-text;

  &:hover {
    transition: all .2s ease-in-out;
    background-color: $secondary-text;
    color: $tertiary-text;
  }
}